body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: normal;
}

h4 {
    color: aquamarine;
    font-size: 16px;
    text-decoration: underline;
}